.container{
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  background-color: aliceblue;
}

.posts{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 4px;
  transition: all 100ms ;
}

.post{
  background-color: aliceblue;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.356);
  padding: 32px;

}

.post:hover {
transform: scale(1.04);
}

.post img{
  width: 100%;
}
